@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    font-family: 'Libre Baskerville', serif;
  }

  .slide-center {
    transform: translateX(calc(max(1200px, 100vw) / 2 - calc(1200px / 2)))
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

/* width */
*::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  @apply bg-act;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  overflow-x: hidden;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

.btn-prim {
  @apply md:text-[0.8rem] text-[0.7rem] text-center inline-flex items-center justify-center bg-act text-prim rounded-full font-semibold md:py-2 py-1.5 md:px-6 px-3 hover:bg-prim hover:text-act transition ease-linear;
}

.btn-prim-sec {
  @apply md:text-[0.8rem] text-[0.7rem] text-center inline-flex items-center justify-center bg-[#2a3e56] text-white rounded-full font-semibold md:py-2 py-1.5 md:px-6 px-3 hover:bg-act hover:text-act transition ease-linear;
}

.loader-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d2f3c8c;
  z-index: 9;
}

.spinner {
  width: 33.6px;
  height: 33.6px;
  animation: spinner-98imc8 2s infinite linear;
  background-color: #d5d6ea;
  border-radius: 50%;
}

@keyframes spinner-98imc8 {
  0% {
    transform: scale(0) rotate(-45deg) translateY(0);
  }

  50% {
    transform: scale(1.25) rotate(960deg) translateY(100%);
  }

  100% {
    transform: scale(0) rotate(2000deg) translateY(0);
  }
}

.pagination {
  @apply flex rounded-md justify-center;
}

.pagination .page-item {
  @apply relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0;
}

.pagination .page-item.active {
  @apply relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.pagination .page-item.prev {
  @apply rounded-l-md;
}

.pagination .page-item.next {
  @apply rounded-r-md;
}


/* login  */
.front-form .form-control {
  @apply w-full border border-gray-300 text-sm py-2 px-3 rounded-md text-gray-500;
}

.front-form .form-label {
  @apply text-[0.8rem] font-medium leading-normal pb-1 inline-block text-gray-500;
}

.spinnerFront {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.google-btn {
  @apply px-4 py-2 border w-full flex items-center justify-center gap-2 text-sm border-slate-200 rounded-full text-slate-700 hover:border-slate-400 hover:text-slate-900 hover:shadow transition duration-150;
}

/* product */
.filter-item {
  @apply hover:bg-gray-100 py-1.5 px-2 text-sm rounded-md capitalize;
}

.filter-item.active {
  @apply bg-gray-100;
}

.product-detail-slider .swiper-slide {
  width: 100%;
  height: 400px !important;
  display: flex;
  align-content: center;
  justify-content: center;
}

.product-detail-wrap-slider .swiper-slide {
  background-color: #fff;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.product-tab:focus-visible,
.btn-prim:focus-visible {
  outline: none;
}

/* product specification amazon */

.specification {
  margin: 0 auto;
}

.specification p {
  padding: 10px 0 20px 10px;
  font-size: 20px;
  font-weight: 600;
}

.specification .a-column.a-span6 h1.a-size-medium.a-spacing-small {
  padding: 10px 0 20px 10px;
  font-size: 20px;
  font-weight: 600;
}

.specification figure.table table ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.specification figure.table table ul li {
  @apply m-0 text-sm;
}

.specification figure.table table tbody {
  @apply flex flex-wrap gap-[1.2%];
}

.specification figure.table table tbody tr {
  @apply w-[32%] flex items-start justify-start flex-col text-base border border-gray-500 p-2.5 rounded-xl mb-2.5;
}

.specification figure.table table tbody tr th {
  padding: 5px 5px 10px 5px;
  width: 100%;
}

.specification figure.table table tbody tr td {
  padding: 10px 5px 5px 5px;
  width: 100%;
  text-align: start;
  font-size: 14px;
}

.specification figure.table table tbody tr td:not(:first-child) {
  border-top: 1px solid #d4d4d42d;
}

.specification figure.table table tbody tr:only-child {
  width: 100%;
}

/* checkout */
.razor-loader .spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

/* responsive menu drower */
.bg-drawer {
  @apply fixed w-full h-full
}

.menu-drower {
  @apply fixed sm:w-96 w-full z-20 h-screen bg-[#191919] top-0 transition-all ease-in-out border-l border-gray-400;
}

.menu-drower.open {
  @apply left-0;
}

.menu-drower.close {
  @apply -left-full;
}

/* cart */
.cart-icon-div svg {
  width: 1.5rem;
  height: 1.5rem;
}

.cart-icon-div {
  position: relative;
}

span.cart-icon-div-quantity {
  @apply absolute -right-4 text-[0.65rem] rounded-full w-6 h-6 flex items-center justify-center bg-act text-prim font-bold scale-75 -bottom-4;
}

.cart-header {
  height: 50px;
}

.cart-checkout-btn {
  height: 50px;
}

.cart-data {
  height: calc(100% - 100px);
}


/* home */
.tv-newlaunch-bg {
  background-image: url('/img/newlaunch-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wc2-newlaunch-bg {
  background-image: url('/img/newlaunch-2t.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wc-newlaunch-bg {
  background-image: url('/img/newlaunch-tv.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-overflow::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.cateslide-pagination {
  color: #fff;
  display: inline !important;
  padding: 5px 15px;
  border-radius: 50px !important;
  font-size: 14px;
}

.cateslide .swiper-pagination-bullet-active {
  @apply bg-act text-black font-semibold;
}

.cateslide .swiper-pagination {
  top: 60px !important;
  height: 100px;
}

.home-cate-slider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* front form */
.input {
  @apply w-full rounded-full border-gray-200 bg-gray-100 p-2 text-sm font-medium text-gray-700 placeholder:text-gray-700;
}

.input.search {
  @apply ps-10;
}

/* content-part */
.content-part h2 {
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

.content-part p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.content-part ul li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.content-part ul {
  margin-bottom: 1rem;
}


/* blog post */
.blog-post-li:hover img {
  scale: 1.05;
  transition: 0.3s ease-in-out;
}

.blog-down-arrow {
  animation: blogArrow 1s infinite alternate;
}

@keyframes blogArrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.form-part-contact {
  margin-top: -60px;
}


/* footer */
footer {
  background: url('/img/footer-bg.webp');
}


/* customer dashboard */
.dashboard-nav {
  @apply flex font-medium items-center gap-3 py-2 px-2 hover:bg-gray-100 active:bg-gray-100 rounded-lg;
}

.dashboard-nav.active {
  @apply bg-act;
}


/* 360 product view  */
.threesix-product-outer {
  position: fixed;
  width: 600px;
  height: 600px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 20px;
  padding: 20px;
}

.cloudimage-360-icons-container {
  top: 5px;
  right: 5px;
}

.cloudimage-360-fullscreen-modal {
  top: 0;
  bottom: 0;
}

.cloudimage-360-magnifier-icon {
  background: url(https://scaleflex.cloudimg.io/v7/filerobot/js-cloudimage-360-view/loupe.svg) 50% 50% / cover no-repeat;
}

.cloudimage-360-close-fullscreen-icon {
  background: url(https://scaleflex.cloudimg.io/v7/filerobot/js-cloudimage-360-view/cross.svg) 50% 50% / cover no-repeat;
}

.cloudimage-360-view-360-circle {
  margin: auto;
}

.cloudimage-360-loader {
  margin: auto;
}

.cloudimage-360-view-360-icon {
  background: url(https://scaleflex.cloudimg.io/v7/filerobot/js-cloudimage-360-view/360_view.svg) 50% 50% / cover no-repeat;
}

.cloudimage-360-box-shadow {
  top: 0;
  left: 0;
}

.cloudimage-360-img-magnifier-glass {
  border: 3px solid #000;
  border-radius: 50%;
}


@media only screen and (max-width: 991.99px) {

  /* product filter */
  .mob-filter {
    @apply fixed w-screen h-screen z-50 top-0 rounded-none transition-all duration-500 ease-in;
  }

  .mob-filter.close {
    @apply right-full;
  }

  .mob-filter.open {
    @apply left-0;
  }

  /* product table */
  .specification figure.table table tbody tr {
    width: 100%;
  }

  .specification figure.table table tbody tr td,
  .specification figure.table table ul li {
    font-size: 12px;
  }

  .specification figure.table table tbody tr {
    padding: 8px;
  }

  /* content-part */
  .content-part h2 {
    font-size: 1.2rem;
    line-height: 100%;
  }



  /* responsive-menu */

  .responsive-menu {
    @apply fixed sm:w-96 w-full z-20 h-screen bg-[#191919] top-0 transition-all ease-in-out border-l border-gray-400;
  }

  .responsive-menu.open {
    @apply left-0;
  }

  .responsive-menu.close {
    @apply -left-full;
  }

  .responsive-menu ul {
    flex-direction: column;
    align-items: start;
  }

  .responsive-menu ul li {
    font-size: 18px;
    padding: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 767.99px) {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  .cateslide .swiper-pagination {
    top: 40px !important;
    height: 100px;
  }

  .swiper-pagination-bullet {
    @apply text-[0.7rem];
  }

  /* .home-cate-slider{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  } */

  form.modal-form input:nth-child(1) {
    width: 49%;
    float: left;
  }

  form.modal-form input:nth-child(2) {
    width: 49%;
    float: right;
  }

  form.modal-form textarea {
    height: auto;
  }

  form.modal-form {
    scale: 0.85;
    transform: translateY(-30px)
  }


}